In [ ]:
# Python program to implement T-Test on a sample of ages

# Importing the required libraries
from scipy.stats import ttest_1samp
import numpy as np

# Creating a sample of ages
ages = [45, 89, 23, 46, 12, 69, 45, 24, 34, 67]
print(ages)

# Calculating the mean of the sample
mean = np.mean(ages)
print("Mean: ", mean)

stddev = np.std(ages)
print("Std. Dev: ", stddev)


# Performing the T-Test
t_test, p_val = ttest_1samp(ages, 30)

print("t-test value is: ", t_test)

print("P-value is: ", p_val)

# taking the threshold value as 0.05 or 5%
if p_val < 0.05:
    print(" We can reject the null hypothesis")
else:
    print("We can accept the null hypothesis")

[45, 89, 23, 46, 12, 69, 45, 24, 34, 67]
Mean:  45.4
Std. Dev:  22.650386310171402
t-test value is:  2.0397003109502543
P-value is:  0.07179988272763561
We can accept the null hypothesis

In [ ]:
# Python program to implement Independent T-Test on the two independent samples

# Importing the required libraries
from scipy.stats import ttest_ind
import numpy as np

# Creating the data groups
data_group1 = np.array([12, 18, 12, 13, 15, 1, 7,
                        20, 21, 25, 19, 31, 21, 17,
                        17, 15, 19, 15, 12, 15])
data_group2 = np.array([23, 22, 24, 25, 21, 26, 21,
                        21, 25, 30, 24, 21, 23, 19,
                        14, 18, 14, 12, 19, 15])

# Calculating the mean of the two data groups
mean1 = np.mean(data_group1)
mean2 = np.mean(data_group2)

# Print mean values
print("Data group 1 mean value:", mean1)
print("Data group 2 mean value:", mean2)

# Calculating standard deviation
std1 = np.std(data_group1)
std2 = np.std(data_group2)

# Printing standard deviation values
print("Data group 1 std value:", std1)
print("Data group 2 std value:", std2)

# Implementing the t-test
t_test,p_val = ttest_ind(data_group1, data_group2)
print("The t-test is: ", t_test)
print("The P-value is: ", p_val)

# taking the threshold value as 0.05 or 5%
if p_val < 0.05:
    print("We can reject the null hypothesis")
else:
    print("We can accept the null hypothesis")

Data group 1 mean value: 16.25
Data group 2 mean value: 20.85
Data group 1 std value: 6.171507109288622
Data group 2 std value: 4.452808102759426
The t-test is:  -2.6347481110277466
The P-value is:  0.012117171124028792
We can reject the null hypothesis

In [ ]:
# Python program to implement Paired Sample T-Test on the two dependent samples

# Importing the required libraries
import pandas as pd
from scipy import stats

# Creating two samples
sample1 = [29, 30, 33, 41, 38, 36,
       35, 31, 29, 30]
sample2 = [31, 32, 33, 39, 30, 33,
        30, 28, 29, 31]

# Performing paired sample t-test
t_test, p_val = stats.ttest_rel(sample1, sample2)
print("The P-value of the test is: ", p_val)

# taking the threshold value as 0.05 or 5%
if p_val < 0.05:
    print("We can reject the null hypothesis")
else:
    print("We can accept the null hypothesis")

The P-value of the test is:  0.15266056244408904
We can accept the null hypothesis

In [ ]:
# Python program to implement One Sample Z-Test

# Importing the required libraries
import pandas as pd
from scipy import stats
from statsmodels.stats import weightstats as stests

# Creating a dataset
data = np.array([89, 93, 95, 93, 97, 98, 96, 99, 93, 97,
        110, 104, 119, 105, 104, 110, 110, 112, 115, 114])

# Calculating Mean
print("Mean value: ", np.mean(data))

# Performing the z-test
z_test ,p_val = stests.ztest(data, x2 = None, value = 160)
print(p_val)

# taking the threshold value as 0.05 or 5%
if p_val < 0.05:
    print("We can reject the null hypothesis")
else:
    print("We can accept the null hypothesis")

Mean value:  102.65
2.417334226169332e-186
We can reject the null hypothesis

In [ ]:
# Python program to implement Two Sample Z-Test

# Importing the required libraries
import pandas as pd
from scipy import stats
from statsmodels.stats import weightstats as stests

# Creating a dataset
data1 = np.array([83, 85, 86, 90, 90, 93, 93, 95, 97, 97,
         106, 108, 106, 108, 111, 113, 113, 112, 116, 111])

data2 = np.array([92, 92, 90, 93, 93, 97, 94, 98, 109, 108,
         110, 117, 110, 115, 114, 114, 130, 130, 149, 131])

# Calculating mean and standard deviation
print("Mean of Data1: ", np.mean(data1))
print("Mean of Data2: ", np.mean(data2))
print("Std Dev of Data1: ", np.std(data1))
print("Std Dev of Data2: ", np.std(data2))

# Implementing the two-sample z-test
z_test ,p_val = stests.ztest(data1, x2 = data2, value = 0, alternative = 'two-sided')
print(p_val)

# taking the threshold value as 0.05 or 5%
if p_val < 0.05:
    print("We can reject the null hypothesis")
else:
    print("We can accept the null hypothesis")

Mean of Data1:  100.65
Mean of Data2:  109.3
Std Dev of Data1:  10.541702898488461
Std Dev of Data2:  15.903144343179434
0.04813782199434202
We can reject the null hypothesis

In [ ]:
# Python program to implement One-Way f-test

# Importing the required libraries
import scipy.stats

# Creating sample data
data1 = [2, 3, 7, 2, 6]
data2 = [10, 8, 7, 5, 10]
data3 = [10, 13, 14, 13, 15]


# Performing the F-Test
f_test, p_val = scipy.stats.f_oneway(data1, data2, data3)

print("f-test value is: ", f_test)
print("p-value is: ", p_val)

# taking the threshold value as 0.05 or 5%
if p_val < 0.05:
    print(" We can reject the null hypothesis")
else:
    print("We can accept the null hypothesis")

f-test value is:  22.59259259259259
p-value is:  8.538592454274676e-05
 We can reject the null hypothesis

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('marketing_campaign1.csv')

In [ ]:
df.head()

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
0,5524,1957,Graduation,Single,58138.0,0,0,04-09-2012,58,635,...,7,0,0,0,0,0,0,3,11,1
1,2174,1954,Graduation,Single,46344.0,1,1,08-03-2014,38,11,...,5,0,0,0,0,0,0,3,11,0
2,4141,1965,Graduation,Together,71613.0,0,0,21-08-2013,26,426,...,4,0,0,0,0,0,0,3,11,0
3,6182,1984,Graduation,Together,26646.0,1,0,10-02-2014,26,11,...,6,0,0,0,0,0,0,3,11,0
4,5324,1981,PhD,Married,58293.0,1,0,19-01-2014,94,173,...,5,0,0,0,0,0,0,3,11,0

In [ ]:
df1 = df[df['Response']==0]

In [ ]:
df1.shape

(1906, 29)

In [ ]:
df2 = df[df['Response']==1]

In [ ]:
df2.shape

(334, 29)

In [ ]:
df2_sampled = df2.sample(n=20, random_state=100)
df1_sampled = df1.sample(n=20, random_state=100)

In [ ]:
print(df2_sampled.shape)
print(df1_sampled.shape)

(20, 29)
(20, 29)

In [ ]:
df1_sampled_recency = df1_sampled['Recency']
df2_sampled_recency = df2_sampled['Recency']
print(df1_sampled_recency)
print(df2_sampled_recency)

1663    45
1637    23
129     72
1479    79
221     56
501      2
1051    16
2164    13
1546     5
856      2
2205    80
233     37
1931    93
1046    91
30      34
1198    72
1205    87
861     35
1219    55
558     27
Name: Recency, dtype: int64
2028     5
1265    78
2198    10
344     13
1958    60
913     11
1339    36
1111     1
1834     0
1329     3
962     12
8       19
595     12
1704     7
1722    32
1922    84
1458    16
906     10
2002    29
1721    71
Name: Recency, dtype: int64

In [ ]:
# Calculating the mean of the two data groups
mean1 = np.mean(df1_sampled_recency)
mean2 = np.mean(df2_sampled_recency)

# Print mean values
print("Data group 1 mean value:", mean1)
print("Data group 2 mean value:", mean2)

# Calculating standard deviation
std1 = np.std(df1_sampled_recency)
std2 = np.std(df2_sampled_recency)

# Printing standard deviation values
print("Data group 1 std value:", std1)
print("Data group 2 std value:", std2)

# Implementing the t-test
t_test,p_val = ttest_ind(df1_sampled_recency, df2_sampled_recency)
print("The t-test is: ", t_test)
print("The P-value is: ", p_val)

# taking the threshold value as 0.05 or 5%
if p_val < 0.05:
    print("We can reject the null hypothesis")
else:
    print("We can accept the null hypothesis")

Data group 1 mean value: 46.2
Data group 2 mean value: 25.45
Data group 1 std value: 30.39012997668815
Data group 2 std value: 25.948940248110326
The t-test is:  2.2633672171348307
The P-value is:  0.02940784495031162
We can reject the null hypothesis

In [ ]:
df[['Education','Response']]

       Education  Response
0     Graduation         1
1     Graduation         0
2     Graduation         0
3     Graduation         0
4            PhD         0
...          ...       ...
2235  Graduation         0
2236         PhD         0
2237  Graduation         0
2238      Master         0
2239         PhD         1

[2240 rows x 2 columns]

In [ ]:
df_contingency = pd.crosstab(df['Education'],df['Response'])

In [ ]:
df_contingency

Response      0    1
Education
2n Cycle    181   22
Basic        52    2
Graduation  975  152
Master      313   57
PhD         385  101

In [ ]:
from scipy.stats.contingency import chi2_contingency
chi2_statistics, pvalue, dof, exp = chi2_contingency(df_contingency)

In [ ]:
print(chi2_statistics)

23.0760975769431

In [ ]:
print(pvalue)

0.00012226975294505314

In [ ]:
print(dof)

4

In [ ]:
print(exp)

[[172.73125     30.26875   ]
 [ 45.94821429   8.05178571]
 [958.95625    168.04375   ]
 [314.83035714  55.16964286]
 [413.53392857  72.46607143]]