In [ ]:
sqr = [num ** 2 for num in range(2, 11, 2)]
print(sqr)

In [ ]:

def convertvowels(string):
    vowels = 'aeiou'
    convertedstring = ''.join([char.upper() if char.lower() in vowels else char for char in string])
    return converted_string


str = input("Enter a String: ")
convertedtring = convertvowels(str)
print (convertedstring)

In [ ]:

myList = [i for i in range(10) if i%2 != 0]
myList

[1, 3, 5, 7, 9]

In [ ]:

str = input("Enter a String: ")
myList1 = []
for ch in str:
  myList1.append(ch)
myList1

Enter a String: flower

['f', 'l', 'o', 'w', 'e', 'r']

In [ ]:

myList2 = [ myList1[i] for i in range(-1, -1*(len(myList1)+1), -1)]
myList2

['r', 'e', 'w', 'o', 'l', 'f']

In [ ]:
def flatten_matrix(matrix):
    return [element for sublist in matrix for element in sublist]


matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
result = flatten_matrix(matrix)
print(result)

[1, 2, 3, 4, 5, 6, 7, 8, 9]